.landingpage {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.logo__landing {
	height: 196px;
	width: 136px;
}

.title__landing {
	font-size: 80px;
	font-family: 'BebasNeue';
	letter-spacing: .4rem;
	color: var(--font-color-main);
}

.subtitle__landing {
	font-size: 20px;
	font-family: 'WorkSans';
	letter-spacing: .7rem;
	color: var(--purple-color);
}