.section__title {
  font-family: 'BebasNeue';
  color: var(--purple-color);
  font-size: var(--font-size);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.scrollable__content {
	flex: 1; 
	overflow-y: auto;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
}

.form__two {
	display: flex;
  justify-content: space-between;
  gap: .5rem;
	flex-direction: row;
}

.form__two-input {
	width: 45%; 
  display: flex;
  flex-direction: column;
}

.form__two label {
	width: 100%;
}

.form__two .form__input {
	width: 100%;
  margin-bottom: 0;
}

.form__group label {
  font-family: 'WorkSans';
  font-size: 12px;
  color: var(--purple-color);
  margin-bottom: 5px;
  width: 100%;
}

.form__input {
  background-color: white;
  border: 2px solid var(--purple-color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'WorkSans';
  width: 100%;
  box-sizing: border-box;
}

.shoe__size-group {
	width: 100%;
	max-width: 350px;
}

.shoe__input-field {
	display: flex;
	flex-direction: column;
	margin-bottom: 1rem;
}

.shoe__input-field label {
  font-family: 'WorkSans';
  font-size: 12px;
  color: var(--purple-color);
  margin-bottom: 5px;
  width: 100%;
}

.price__summary {
	width: 340px;
	padding: 20px 20px 20px;
	border: 2px solid var(--font-color-main);
	position: absolute;
	bottom: 8rem;
}

.price__text {
	color: var(--font-color-main);
	font-family: 'BebasNeue';
	font-size: var(--font-size);
	letter-spacing: .1rem;
	text-align: center;
}