.bookings__title {
  font-family: 'BebasNeue';
  color: var(--purple-color);
  font-size: var(--font-size);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 20px;
	letter-spacing: .1rem;
}

.total-price-summary {
	font-family: 'BebasNeue';
	font-size: 24px;
	color: var(--font-color-main);
}

.booking__item {
	margin-bottom: 2rem;
	padding: 10px 0;
	width: 340px;
}

.booking__item-title {
	font-family: 'BebasNeue';
	color: var(--purple-color);
	font-size: var(--font-size);
	margin-bottom: 10px;
	text-align: center;
	letter-spacing: .1rem;
}

.details__group {
  margin-bottom: 1rem;
}

.detail__row {
  display: flex;
  flex-direction: column;
  padding: 8px 0;
  font-family: 'WorkSans';
  font-size: 16px;
}

.detail__label {
	font-family: 'WorkSans';
  font-size: 12px;
  color: var(--purple-color);
  margin-bottom: .3rem;
  width: 100%;
}

.detail__value {
  width: 340px;
	background-color: white;
	border-radius: 10px;
	border: 2px solid var(--purple-color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-family: 'WorkSans';
  width: 100%;
  box-sizing: border-box;
}

.total__summary {
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
}

.total__text {
  color: var(--font-color-main);
  font-family: 'BebasNeue';
  font-size: var(--font-size);
  letter-spacing: .1rem;
  text-align: center;
  margin: 0;
}