.section__title {
  font-family: 'BebasNeue';
  color: var(--purple-color);
  font-size: var(--font-size);
  text-align: center;
  margin-top: 1rem;
  margin-bottom: 20px;
}

.form__group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  max-width: 350px;
  margin-bottom: 1rem;
}

.form__group label {
  font-family: 'WorkSans';
  font-size: 12px;
  color: var(--purple-color);
  margin-bottom: 5px;
  width: 100%;
}

.form__input {
  background-color: white;
  border: 2px solid var(--purple-color);
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 20px;
  font-family: 'WorkSans';
  color: var(--background-color);
  width: 100%;
  box-sizing: border-box;
}