.hamburger-icon {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1000;
  cursor: pointer;
  width: 30px;
  height: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon .bar {
  width: 100%;
  height: 3px;
  background-color: var(--font-color-main);
  transition: transform .3s, opacity .3s;
}

.hamburger-icon.open .bar:nth-child(1) {
  transform: translateY(10.5px) rotate(45deg);
}
.hamburger-icon.open .bar:nth-child(2) {
  opacity: 0;
}
.hamburger-icon.open .bar:nth-child(3) {
  transform: translateY(-10.5px) rotate(-45deg);
}

.menu-drawer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100vw;
  background-color: var(--background-color);
  padding: 20px;
  padding-top: 80px;
  box-sizing: border-box;
  z-index: 999;
  
  transform: translateX(-100%); 
  transition: transform .3s ease-in-out;
  
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu-drawer.open {
  transform: translateX(0); 
}

.menu-link {
	background: none;
	border: none;
	text-align: center;
	font-family: 'BebasNeue';
	color: var(--font-color-main);
	font-size: 40px;
	margin-top: 2rem;
	padding: 15px 0;
	width: 100%;
	letter-spacing: 0.1em;
}