* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
	background-color: var(--background-color);
}

:root {
  --background-color: #1C1919;

  --font-color-main: #EC315A;
  --purple-color: #a676ed;

  --font-size-title: 54px;
	--font-size: 24px;
	--font-size-nav: 48px;

}

@font-face {
  font-family: 'BebasNeue';
	font-weight: 400;
  src: url('./assets/fonts/bebas-neue.ttf');
}

@font-face {
  font-family: 'WorkSans';
	font-weight: 400;
  src: url('./assets/fonts/work-sans.ttf');
}